
/*My Stylesheet for CSS Assignment*/

body{
	background-color: #D3C7B1;
	font-family: Sans-Serif;
}

#wrapper{
	width: 65em;
	margin: 0 auto;
	background-color: #ffff66;
}

#header{
	background-color: #3B597D;
	margin: 0;
	padding: 1em;
	color: #fff;
}

#main{
	background-color: #fff;
	padding: 1em;
	width: 48em;
	float: left;
}

#sidebar{
	background-color: #D68051;
	padding: 1em;
	width: 13em;
	float: right;
}

#footer{
	background-color: #3B597D;
	margin: 0;
	padding: 1em;
	color: #fff;
	clear: both;
}

/*Sidebar links*/

 #sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

#sidebar ul li {
	display: inline-block;
	width: 95%;
	height: 40px;
	line-height: 40px;
	font-size: 130%;
	padding: 5px;
	margin-bottom: 5px;
	background: #3B597D;
	border: 1px solid #1d2c3e;
	border-radius: 2px;
	font-weight: bold;
}

.alignright{
	float: right;
	padding: 0 0 1em 1em;
}
.alignleft{
	float: left;
	padding: 0 1em 1em 0;
}
.aligninline{
	display: block;
	padding: .5em 0 2em 0;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}

.navigation{
	text-decoration: none;
	color: #ffffff;}

